<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div class="header-top-area c-brown text-center text-md-left">
        <div class="container" style="color: white">
            <div class="row">
                <div class="col-lg-6 col-md-5">
                    <div class="header-call-action">
                        <a style="color: white" href="#">
                            <i class="fa fa-envelope"></i>
                            info@website.com
                        </a>
                        <a style="color: white" href="#">
                            <i class="fa fa-phone"></i>
                            0123456789
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-7">
                    <div class="header-top-right float-md-right float-none">
                        <nav>
                            <ul>
                                <li><i class="fa fa-shopping-cart"></i>
                                    <a style="color: white" href="/cart">Giỏ hàng</a>
                                </li>
                                <li>
                                    <a style="color: white" href="/logout">Đăng xuất</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-middle-area pt-20 pb-20">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="brand-logo">
                        <a href="/home/index">
<!--                            <img width="80px" src="https://cdn-icons-png.flaticon.com/512/809/809052.png"-->
<!--                                 alt="brand logo">-->
                            <img th:src="@{/assets/img/logo1.png}"
                                 alt="brand logo" height="80px">
                        </a>
                        </br>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="header-middle-right">
                        <div class="header-middle-block">
                            <div class="header-middle-searchbox">
                                <input type="text" placeholder="Search..." id="search1">
                                <button id="searchProduct" class="search-btn"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-header-wrapper bdr-bottom1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-header-inner">
                        <div class="category-toggle-wrap">
                            <div class="category-toggle">
                                Danh Mục
                                <div class="cat-icon">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                            <nav class="category-menu hm-1" style="display: none;">
                                <ul>
                                    <th:block th:each="cart : ${category}">
                                        <li><a th:href="@{'/home/'+${cart.id}}">
                                            [[${cart.name}]]</a></li>
                                    </th:block>
                                </ul>
                            </nav>
                        </div>
                        <div class="main-menu">
                            <nav id="mobile-menu">
                                <ul>
                                    <li class="active"><a th:href="@{/home/index}"><i class="fa fa-home"></i>Trang chủ</i></a>

                                    </li>
                                    <li><a type="button" th:href="@{/your-orders/orders}">Lịch Sử</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-block d-lg-none">
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const searchButton = document.getElementById('searchProduct');
        const searchInput = document.getElementById('search1');

        // Thêm sự kiện onclick cho nút tìm kiếm
        searchButton.addEventListener('click', function() {

            const searchTerm = searchInput.value;

            if (searchTerm.trim() !== '') {
                window.location.href = "http://localhost:8888/home/timkiem/" + searchTerm;
            } else {
                alert('Vui lòng nhập từ kh=');
            }
        });
        function onViewCart() {
            window.location.href = '/cart'
        }

    </script>
</header>

</html>